[Desktop Entry]
Name=System Language
Name[de]=Sprach- und Ländereinstellungen
Name[el]=Γλώσσα συστήματος
Name[fr]=Langue système
Name[fi]=Järjestelmän kieli
Comment=Locale configuration tool
Comment[de]=Sprach- und Ländereinstellungen des Systems
Comment[el]=Εργαλείο για τη ρύθμιση της γλώσσας του συστήματος
Comment[fr]=Utilitaire de configuration de la langue du système
Comment[fi]=Lokaalin asetus työkalu
Exec=kdesu localesetup
Icon=localesetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
OnlyShowIn=KDE
