[Desktop Entry]
Name=System clock
Name[de]=Uhrzeit
Name[el]=Ρύθμιση ρολογιού συστήματος
Name[fr]=Horloge système
Name[fi]=Järjestelmän kello
Comment=System clock configuration tool
Comment[de]=Uhrzeit stellen
Comment[el]=Ρύθμιση του ρολογιού του συστήματος
Comment[fr]=Utilitaire de configuration de l'horloge système
Comment[fi]=Järjestelmän ajan asetus työkalu
Exec=gksu clocksetup
Icon=clocksetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
NotShowIn=KDE
